.popup-buttons .button {
    background-color: #ffc900;
}

.has-bottom-button {
    bottom: 90px;
}

.burguer-escolhido-180g {
    text-align: left;
    margin-left: 12px !important;
    font-size: 15px !important;
}

.item-complex span {
    float: right;     
}

.pedido-total, .pedido-qtde, .ion-chevron-up, .ion-chevron-down {
    float: right;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}