.popup-buttons .button {
    background-color: #ffc900;
}

.burguer-escolhido-180g {
    text-align: left;
    margin-left: 12px !important;
    font-size: 15px !important;
}

.item-complex span {
    float: right;     
}

.pedido-total {
    float: right;
}

.pedido-qtde {
    float: right;
}